<h2>Mes événements</h2>
<app-evenement-search></app-evenement-search>
<a routerLink="/detail/0"><input type="button" value="Nouveau"></a>

<ul class="evenements">
	<li *ngFor="let event of events" (click)="onSelect(event)" [class.selected]="evenement === selectedEvent">
		<a routerLink = "/detail/{{event._id}}">
		<!-- <span class="badge">{{event._id}}</span>  -->
		<span class="badge"></span> 
			{{event.nom}} du {{event.datDeb | date : 'dd/MM/yyyy'}} au {{event.datFin | date : 'dd/MM/yyyy'}}
		</a>
		<button class="delete" title="delete event" (click)="delete(event)">x</button>
	</li>
</ul>
