.evenements {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 26em;
}
.evenements li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.evenements li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.evenements .text {
  position: relative;
  top: -3px;
}
.evenements .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  min-width: 16px;
  text-align: right;
}
.evenements a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
}
.evenements a:hover {
  color:#607D8B;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}
button:hover {
  background-color: #cfd8dc;
}
button.delete {
  position: relative;
  left: 28em;
  top: -2.8em;
  height:2.6em;
  width: 2em;
  background-color: gray !important;
  color: white;
}