<div id="search-component">
  <h4>Recherche</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let evenement of evenements$ | async" >
      <a routerLink="/detail/{{evenement.id}}">
        {{evenement.nom}}
      </a>
    </li>
  </ul>
</div>
