<div *ngIf="evenement">
	<h2>{{ evenement.nom }} détails</h2>
	<div>
		<span class="badge">Nom : </span>
		<input [(ngModel)]="evenement.nom" placeholder="Nom">
	</div>
	<div>
	  <span class="badge">Date de début : </span>
	  {{evenement.datDeb | date : 'dd/MM/yyyy' }}
	  <input type="date" [(ngModel)]="evenement.datDeb">
	</div>
	<div>
	  <span class="badge">Date de fin : </span>
	  {{evenement.datFin | date : 'dd/MM/yyyy' }}
	  <input type="date" [(ngModel)]="evenement.datFin">
	</div>
	<button (click)="save()">Save</button>
	<button (click)="goBack()">Rush B, BLYAT!</button>
</div>
